.quiz{
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F8EDE3;
}
.quiz ul li{
    display: flex;
    align-items: center;
    border: 1px solid #DC0083;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  
  }
  .quiz ul li:hover{
    background-color: #BC5A94;
    color: #CCCC;
  }
  .quiz button{
    width: 300px;
    height: 40px;
    padding: 10px;
    margin: auto;
    border: 1px solid #D10363;
    border-radius: 5px;
    background-color: #D10363;
    cursor: pointer;
    color: #C8CFA0;
  }
  .quiz button:hover{
    background-color:#C8CFA0 ;
    cursor: pointer;
    color: #365E32;
  }
  
  .correct{
    background-color: green;
  }
  .incorrect{
    background-color: red;
  }